.wrapper{
  display: flex;

}
.sideBar {
  flex: 0.2;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.07), 0 2px 4px rgba(0,0,0,.05);
  color: rgba(0,0,0,.55);
  border-radius: 5px;

}
.list-item{
  list-style-type: none;
  line-height: 1.5rem;
  padding: 0 !important;
  margin: 0;
  text-align: left;
  border-radius: 5px;

}
.item {
  padding: 10px 20px;
  border-radius: 5px;


  &:not(:last-child) {
    border-bottom: rgba(205, 205, 205, 0.55) solid 1px;
  }

  &:last-child {
  }
  &:hover{
    background-color: rgba(205, 205, 205, 0.55);
    border-radius: 5px;

  }
  &:active{
    background-color: rgba(205, 205, 205, 0.55);
    border-radius: 5px;
  }
  span{
    margin-left: 10px;
  }

}
.item-active {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: rgba(205, 205, 205, 0.55);

  &:not(:last-child) {
    border-bottom: rgba(205, 205, 205, 0.55) solid 1px;
  }

  &:last-child {
  }
  span{
    margin-left: 10px;
  }

}
.content{
  flex: 1;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.07), 0 2px 4px rgba(0,0,0,.05);
  color: rgba(0,0,0,.55);
  border-radius: 5px;
  margin-left: 10px;
}
