.wrapper{
  width:1200px;
  margin: 0 auto;
  padding: 0;
  .wrapperHome {
    z-index: 1;
    display: flex;
    margin-bottom: 30px;
    width: 500px;
    .swiper-wrapper{
      border: 1.5 solid rgba(255, 255, 255, 0.5);
      width: 425px !important;
      margin-right: 26px !important;
  
      .block-content {
        padding-top: 20px;
        margin: 0 20px;
  
        .content-title{
          width: 400px;
          height: 200px;
          font-size: 24px;
          font-weight: bold;
          padding-bottom: 5px;
          
        }
      }
   
    }
    .image-item{
      width: 400px;
      height: 266px;
      padding: 10px;
      bottom: 0;
    }
  }
  .content-note{
    width: 400px;
    ul {
      list-style: none;
      
      .item{
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        width: 400px;
        .wrap-title-news{
  
          .small-title{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .adscode{
    padding-right: 0px;
    width: 300px;
    position: relative;
    .advertise{
      border-top: 1px solid #008837;
      border-bottom: 1px solid #008837;
      span{    
      color: #008837!important;
      font-weight: 600;
      font-size: 9px!important;
      z-index: 1;
      position: relative;
      background: transparent!important;
      padding-top: 4px;
      border-top-left-radius: 10px;
      line-height: 8px;
      padding-right: 8px;
      text-transform: capitalize;
      }
    }
  }
}


          
        
