.wrapper {
  display: flex;
}

.sideBar {
  flex: 0.3;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .55);
  border-radius: 5px;
  position: sticky;
  height: 700px;
  top: 125px;
  z-index: 0;

}

.content {
  flex: 1;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .05);
  color: rgba(0, 0, 0, .55);
  border-radius: 5px;
  margin-left: 10px;

  li {
    cursor: pointer;
  }

  li:hover {
    background-color: #f0f0f0;
    color: #3367d6;
  }
}

.list-item {
  list-style-type: none;
  line-height: 1.5rem;
  padding: 0 !important;
  margin: 0;
  text-align: left;
  border-radius: 5px;
}

.item {
  padding: 10px 20px;
  border-radius: 5px;

  &:not(:last-child) {
    border-bottom: rgba(205, 205, 205, 0.55) solid 1px;
  }

  &:last-child {
  }

  &:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;

  }

  span {
    margin-left: 10px;
  }

}


.item-active {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #f0f0f0;

  &:not(:last-child) {
    border-bottom: rgba(205, 205, 205, 0.55) solid 1px;
  }

  &:last-child {
  }

  span {
    margin-left: 10px;
  }

}

.breadcrumb {
  margin: 15px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .05);
  font-weight: 400;
  font-size: 13px;

  ol {
    list-style-type: none;
    display: flex;
    padding: 10px;
    cursor: pointer;

    li {
      padding: 5px;
    }

    .breadcrumb-active {
      color: rgba(70, 70, 255, 0.82);
    }

    span {
      color: rgba(189, 189, 189, 0.55);
    }
  }
}

.content-list {
  list-style-type: none;
  padding: 15px;

  .content-item {
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .07), 0 2px 4px rgba(0, 0, 0, .05);

    .img-content-item {
      padding: 10px;
      border-radius: 10px;
    }

    .block-content-item {
      padding-top: 20px;
      margin: 0 20px;

    }
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  .pub-date {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    margin-right: 25px;
  }
}



